
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Tahoma;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../IMAGES/Food_BG3.jpg');
    background-size: cover;
    background-position: center;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.header-title:hover {
    top: 50%;
    left: 50%;
    font-size: 4rem;
    margin: 0;
    text-align: center;
    align-items: center;
    text-shadow: 2px 2px 5px rgba(185, 54, 54, 0.7);

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.image {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.image:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.image .box {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50%;
    padding: 10px;
}

.image .box .cuisine-title h4 {
    font-family: Impact;
    color:rgb(53, 88, 88);
    font-size: 25px;
}

.image .box .cuisine-title h4:hover {
    color:rgb(65, 30, 192);
}

.image .box .cuisine-title .spacing {
    font-family: Tahoma;
    line-height: 0.5;
}

.random{
    text-align: center;
    padding:30px 0 0 200px;
}

.random h2{
    font-family:Impact;
}

.random .ran-btn{
    font-family:Tahoma;
    padding:10px;
    font-weight:bolder;
    font-size:20px;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.random .ran-btn:hover{
    box-shadow: #e2adff 0px 1px 25px;
    background: #e2adff;
    color: #111111;
}


  /*Override Header and Footer Bootstrap style*/
  body {
    background-color: #dbe0eb !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
}

a {
    text-decoration: none !important;
}

nav {
    position: fixed !important;
    padding:0 10px !important;
}

nav .logo{
    font-size: 50px !important;
    text-decoration: none !important;
}

nav .logo:hover {
    color: white;
}

nav.scrolled .logo {
    font-size: 40px !important;
}

nav ul li{
    margin-top: 10px;
    top: 5px;
}

nav.scrolled ul li a{
    padding:0 10px !important;
}

nav ul li a {
    font-size: 18px !important;
    padding: 0 12px !important;
}

  footer ul a {
    color: #cccccc !important;
  }

  footer .row h1 {
    padding-top: 12px !important;
    font-size: 32px !important;
  }

  footer .row h2 {
    padding-top: 2px;
    font-size: 19.5px;
    font-weight: bold;
    padding-bottom: 6px;
  }

  footer .col h3 {
    padding-top: 14px;
    font-size: 15.2px;
    font-weight: bold;
    padding-bottom: 7px;
  }
