  /*Override Header and Footer Bootstrap style*/
  body {
    background-color: #dbe0eb !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
}

a {
    text-decoration: none !important;
}

nav {
    position: fixed !important;
    padding:0 10px !important;
}

nav .logo{
    font-size: 50px !important;
    text-decoration: none !important;
}

nav .logo:hover {
    color: white;
}

nav.scrolled .logo {
    font-size: 40px !important;
}

nav ul li{
    margin-top: 10px;
    top: 5px;
}

nav.scrolled ul li a{
    padding:0 10px !important;
}

nav ul li a {
    font-size: 18px !important;
    padding: 0 12px !important;
}

  footer ul a {
    color: #cccccc !important;
  }

  footer .row h1 {
    padding-top: 12px !important;
    font-size: 32px !important;
  }

  footer .row h2 {
    padding-top: 2px;
    font-size: 19.5px;
    font-weight: bold;
    padding-bottom: 6px;
  }

  footer .col h3 {
    padding-top: 14px;
    font-size: 15.2px;
    font-weight: bold;
    padding-bottom: 7px;
  }


h1{
    padding: 100px 0 0 20px;
}

.recipe {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    background-color: #ffffff; 
    color: #000; 
}

.recipe img {
    padding-top: 20px;
    width: 800px;
    height: 550px;
    overflow: hidden;
    border-radius: 35px;
    transition: 0.5s ease;
    filter: drop-shadow(8px 8px 10px gray);
    max-width:100%;
}

.recipe img:hover {
    transform: scale(0.8);
  }

  /* Regenerate */
  .random{
    text-align: center;
}

.random h2{
    font-family:inherit;
}

.random .ran-btn{
  background: #111111;
  color: #e2adff;
    padding:10px;
    font-weight:bolder;
    font-size:20px;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.random .ran-btn:hover{
    box-shadow: #e2adff 0px 1px 25px;
    background: #e2adff;
    color: #111111;
}

@media (min-width: 320px) and (max-width:1440px) {
  
  .random img {
    width: 90%; 
    height: auto;
  }

}

   /* Scrool top */
   .scrool{
    position:fixed;
    bottom:2.2rem;
    border-top:2rem;
    right:3.2rem;
  }
  
  .scrool i{
    font-size:22px;
    color:rgb(95, 183, 238);
    background:black;
    padding:10px;
    border-radius:2rem;
  }

