body {
    margin: 0;
    padding: 0;
}

.containers {
    padding: 20px;
}

/* Header */
.country-container {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.country-container img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.9;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44%;
    height: 40%;
    color: white; 
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    padding-top: 2.5% !important;
    text-align: center !important;
    z-index: 80;
}

h1 {
    color: whitesmoke;
    font-weight: bold !important;
    font-size: calc(0.01rem + 3vw) !important;
}

/* Countries */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px 20px;
    padding: 20px;
    justify-items: center;
}

.grid-item1 {
    position: relative;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 400px;
    height: 320px;
    box-sizing: border-box;
}

.grid-item1 img {
    width: 100%;
    height: 240px;
    border-radius: 8px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 87%;
}

.country-image {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Country Cuisines */
.cuisine-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
    display: none;
    text-align: center;
}

.cuisine-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-decoration: none;
}

.cuisine-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.cuisine-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 60%;
    box-sizing: border-box;
}

/* Hover effect on cuisines image and country image */
.grid-item1:hover .cuisine-container {
    display: block;
}

.grid-item1:hover .cuisine-image {
    display: block;
}

.grid-item1:hover .cuisine-overlay {
    display: block;
}

.grid-item1:hover .country-image {
    display: none;
}

/* Arrows on the cuisines image */
.nav-arrows {
    display: none; 
    position: absolute;
    top: 43%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 120;
}

.arrow-container {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px; 
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.prev-arrow-container {
    position: absolute;
    left: 10px; 
}

.next-arrow-container {
    position: absolute;
    right: 10px; 
}

.grid-item1:hover .nav-arrows {
    display: flex; 
}

/* Country Name and Dropdown Box*/
.grid-item2 {
    background-color: #f0f0f0;
    padding: 10px;
    position: relative;
    border: 1px solid #ccc;
    background-color: transparent;
    border: none;
    align-items: center;
}

.grid-header h2 {
    margin: 0; 
    flex: 1;
    font-size: 24px;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-left: 40px;
}

.grid-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.country-dropdown {
    position: relative;
    display: inline-block;
}

.btn-light {
    border: 1px solid #333 !important;
    cursor: pointer;
    border-radius: 5px;
    height: 40px !important;
    padding-top: 5px !important;
}

.dropdown-menu {
    display: none;
    position: absolute;
    text-align: center !important;
    background-color: whitesmoke !important;
    min-width: 160px;
    left: -120px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px !important; 
    text-decoration: none !important;
    display: block;
    background-color: white;
}

.dropdown-menu a:hover {
    background-color: #ddd;
    color: #333;
}

.dropdown-toggle::after {
    display: none !important; /* Hide the arrow */
}

 /* Scrool top */
 .scrool{
    position:fixed;
    bottom:2.2rem;
    border-top:2rem;
    right:3.2rem;
  }
  
  .scrool i{
    font-size:22px;
    color:rgb(95, 183, 238);
    background:black;
    padding:10px;
    border-radius:2rem;
  }

  /*Override Header and Footer Bootstrap style*/
body {
    background-color: #dbe0eb !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
}

a {
    text-decoration: none !important;
}

nav {
    position: fixed !important;
    padding:0 10px !important;
}

nav .logo{
    font-size: 50px !important;
    text-decoration: none !important;
}

nav .logo:hover {
    color: white;
}

nav.scrolled .logo {
    font-size: 40px !important;
}

nav ul li{
    margin-top: 10px;
    top: 5px;
}

nav.scrolled ul li a{
    padding:0 10px !important;
}

nav ul li a {
    font-size: 18px !important;
    padding: 0 12px !important;
}

  footer ul a {
    color: #cccccc !important;
  }

  footer .row h1 {
    padding-top: 12px !important;
    font-size: 32px !important;
  }

  footer .row h2 {
    padding-top: 2px;
    font-size: 19.5px;
    font-weight: bold;
    padding-bottom: 6px;
  }

  footer .col h3 {
    padding-top: 14px;
    font-size: 15.2px;
    font-weight: bold;
    padding-bottom: 7px;
  }
